/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Navigation bar */
nav{
    display: flex;
    background-color: white;
    justify-content: right;
    align-items: center;
}

nav ul{
    margin: 25px 0;
    display: flex;
}

nav ul li{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px ;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    transition: all .5s ease;
}
 
nav ul li a:hover{
    background-color: red;
    color: black;
    box-shadow: 0 0 10px white;
}
@media screen and (max-width: 768px){
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* background image and h1 */
#main{
    display: flex;
    flex-direction: column ;
    background-color: 0 0 0 0.5;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#main::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    background: url(../images/IMG_4151.JPG) no-repeat center center/cover ;
    height: 965px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.context{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
}
@media screen and (max-width: 768px){
    .heading{
        font-size: 1.8rem;
    }
}
span{
    color: red;
}

/* button class for contact me on img */
.btn {
    padding: 10px 35px;
    font-size: 18px;
    font-weight: bolder;
    background-color: red;
    border: 1px solid rgb(196, 30, 30);
    color: black;
    outline: none;
    transition: .7s ease;

}
.btn:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 15px white;
}
.btn a{
    color: #fff;
    outline: none;
    list-style: none;
}

/* about me section */
#about-me{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    box-sizing: border-box;
}
.about-me1{
    display: flex;
}
.about-me1 img{
    height: 500px;
    width: 800px;
}
.about-me1 p{
    display: flex;
    font-size: 20px;
    padding: 10px;
    flex-direction: column;
    line-height: 30px;
}
@media screen and (max-width: 768px) {
      .about-me1  {
          flex-direction: column;
          align-items: center;
    }
    .about-me1 img{
        height:400px ;
        width: 500px;
    }
    .about-me1 p{
        margin: 20px 10px;
    }
  }
  @media screen and (max-width: 1450px) {
    .about-me1  {
        flex-direction: column;
        align-items: center;
  }
  .about-me1 img{
      height:400px ;
      width: 500px;
  }
  .about-me1 p{
      margin: 20px 10px;
  }
}

/* Work section Page */
#work{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.box{
    display: flex;
    justify-content: space-around;
    /* flex: wrap ; */

}
.headingWork{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}
.img-1{
    background: url(../images/Adventure\ App.png) no-repeat center center/cover ;
    flex-direction: column;
    height: 500px;
    width: 700px;
    color: white;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.img-1:hover{
    box-shadow: 0 0 15px red;
    cursor: pointer;
}
.img-2{
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: url(../images/CodeQuiz.png) no-repeat center center/cover ;
}
.img-2:hover{
    border: none;
    box-shadow: 0 0 15px red;
    cursor: pointer;
}
.img-3{
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: url(../images/Weather\ Dashboard.png) no-repeat center center/cover ;
}
.img-3:hover{
    border: none;
    box-shadow: 0 0 15px red;
    cursor: pointer;
}
@media screen and (max-width: 768px){

    #work{
        display: inline-block;
    }
    .img-1{
        height: 300px;
        width: 250px;
    }
    .img-2{
        height: 120px;
        width: 120px;
    }
    .img-3{
        height: 120px;
        width: 120px;
    }
}

/* Contact me page */
#contactme{
    display: flex;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1100&ixid=MnwxfDB8MXxyYW5kb218MHx8cGhvbmV8fHx8fHwxNjQ3NDE3MjE1&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=2200) no-repeat center center/cover;
    height: 950px;
}
.info1{
    display: flex;
    flex-direction: column;
    padding: 5.80rem;
    margin: 10px ;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}
.input{
    display: flex;
    padding: 10px;
    margin: 15px;
    width: 30%;
}
.inputtext{
    padding: 25px;
    margin: 20px 0;
    width: 30%;
}
@media screen and (max-width: 768px){
    .input{
        width: 35%;
        margin-top: 10px;
    }
    .inputtext{
        width:50%;
        margin-top: 10px;
    }
}
#contactIcons{
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    margin: 15rem;
}
#contactIcons a{
    color: black;
}